{% extends 'base.html' %}

{% block content %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">ASN</th>
        <th scope="col">ZeroTier Address</th>
        <th scope="col">IP Address</th>
        <th scope="col">Description</th>
        <th scope="col">Assigned IP</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for connection in network %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ connection.type }}</td>
                <td>{{ connection.asn }}</td>
                <td>{{ connection.zerotier_address|default_if_none:"-" }}</td>
                <td>{{ connection.ip_address|default_if_none:"-" }}</td>
                <td>{{ connection.description }}</td>
                <td>{{ connection.assignedIP|default_if_none:"-" }}</td>
                <td>{{ connection.active }}</td>
                <td><form action="/network"><button onclick="zerotier.deauth( {{ connection.id }} )" type="submit" class="btn btn-sm btn-danger" >Delete</button></form>
            </tr>
        {% endfor %}
    </tbody>
  </table>
  <form action=" {% url 'add_connection' %}" method="get">
    <div class="d-flex justify-content-center">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type" id="inlineRadio1" value="zerotier" checked>
        <label class="form-check-label" for="inlineRadio1">ZeroTier</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type" id="inlineRadio2" value="vxlan">
        <label class="form-check-label" for="inlineRadio2">VXLAN</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type" id="inlineRadio3" value="gretap" disabled>
        <label class="form-check-label" for="inlineRadio3">GRETAP</label>
      </div>
    </div>
    <br>
    <div class="d-flex justify-content-center">
      <input class="btn btn-success" type="submit" value="Add Connection" >
    </div>
    <br>
  </form>
  <div class="card border-info text-center mx-auto" style="max-width: 25rem;">
    <div class="card-header">Connect using ZeroTier CLI</div>
    <div class="card-body">
      <h5 class="card-title">How to connect</h5>
      <p class="card-text"><mark>sudo zerotier-cli join {{ host_network }}</mark></p>
    </div>
  </div>
{% endblock %}
