{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Changing password</h2>
    {% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %}
              <div class="alert alert-danger">
                  <ul class="m-0">
                      <li>{{ error|escape }}</li>
                  </ul>
              </div>
           {% endfor %}
       {% endfor %}
    {% endif %}
    <form method="post">
        <div class="form-row">
            <label for="id_old_password">Old password:</label><br>
            <input type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
            <div class="help" id="id_old_password_helptext">
                <ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul>
            </div>
        </div>
        <div class="form-row">
            <label for="id_new_password1">New password:</label><br>
            <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
        </div>
        <div class="form-row">
            <label for="id_new_password2">New password confirmation:</label><br>
            <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
        </div>
        <div class="submit-row">
            {% csrf_token %}
            <br>
            <input type="submit" value="Change my password" class="default btn btn-success">
        </div>
    </form>
{% endblock %}
