{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Changing personality</h2>
    {% if error %}
        <div class="alert alert-danger">
            Wrong password
        </div>
    {% endif %}
    <form method="post">
        <div class="form-row">
            <label for="password">Password:</label><br>
            <input type="password" name="password" autocomplete="current-password" autofocus="" required="" id="password">
        </div>
        <div class="form-row">
            <label for="id_firs_name">New first name:</label><br>
            <input name="new_first_name" id="id_firs_name">
        </div>
        <div class="form-row">
            <label for="id_last_name">New last name:</label><br>
            <input name="new_last_name" id="id_last_name">
        </div>
        <div class="submit-row">
            {% csrf_token %}
            <br>
            <input type="submit" value="Change my email" class="default btn btn-success">
        </div>
    </form>

{% endblock %}
